
body {padding-top: 0px;}
html {
    position: relative
    min-height: 100%;
}

.header {
background-size: cover;
background-position: /*top 32%*/ center;
background-image: url("Sarine.JPG");
background-color: #6388b9;
min-height:300px;

position: relative;

}

.container{
    position: absolute;
    margin: 20px;
    width: auto;
}

.topnav{
    overflow: hidden;
    background-color: #333;
	font-family:sans-serif;
	padding:5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}


header img {
width: 300px;
min-width: 200px;
}

body a {
	text-decoration: none;
	color: #217539;
}

coontent a:visited {
     text-decoration: none;
}

coontent a:hover {
     text-decoration: underline;
	 color: #217539;

}

coontent a:active {
     text-decoration: none;
     color: #217539;
}
/*@media screen and (max-width: 480px) {
    img {
         width: 400px;
    }*/

.logo, .titlecontainer {
display: inline-block;
float: right;
image: url("logo1.JPG");
height: 100px;
margin: 20px;
margin-top: 150px;
}

.titlecontainer {
white-space: nowrap;
/* Do not hide this from screen readers */
text-indent: -10000px;
}

.container-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
}



ul{
	margin left:20px;

}


div.li{
	text-align: center;
}


th, td{
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}


footer {

color: #ffffff;
margin-top: auto
font-size: 14px;
background-color: #000000;
display: block;
position: relative;
    left: 0;
    bottom: 0;
    width=100%;
}



.footertext {
    /*padding: 50px 0 0 20px;*/
    margin-left: 20px;
	margin-top: 10px;
    position: absolute;
    top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width:470px){
footer img {
height: 60px;

margin-top: 80px;
margin-bottom: 30px;
/*padding: 15px 20px 0px 0;*/
}}

@media screen and (max-width:570px){
footer img {
height: 60px;

margin-top: 70px;
margin-bottom: 40px;
/*padding: 15px 20px 0px 0;*/
}}


@media screen and (min-width:570px) and (max-width:800px){
footer img {
height: 80px;

margin-top: 90px;
margin-bottom: 30px;
margin-right: 20px;
/*padding: 15px 20px 0px 0;*/

}}
@media screen and (min-width:800px) and (max-width:850px){
footer img {
height: 90px;

margin-top: 35px;
margin-bottom: 35px;

/*padding: 15px 20px 0px 0;*/

}}


@media screen and (min-width:850px) and (max-width:1000px){
footer img {
height: 105px;

margin-top: 27.5px;
margin-bottom: 27.5px;
margin-right: 10px;
/*padding: 15px 20px 0px 0;*/


}}

@media screen and (min-width:1000px){
footer img {
height: 120px;

margin: 20px;
/*padding: 15px 20px 0px 0;*/

}}
